.slider-media::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
}

.slider-indices p {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #fff;
}
.index {
	position: relative;
	width: 1.25rem;
	display: flex;
	justify-content: flex-end;
	will-change: opacity;
}
.marker {
	position: relative;
	width: 0.75rem;
	height: 1px;
	background-color: #fff;
	transform-origin: right;
	will-change: transform;
	transform: scaleX(0);
}
.slider-progress {
	will-change: transform;
}
.line {
	position: relative;
	display: block;
	will-change: transform;
}
.approach__item-media {
	will-change: transform;
}
.approach__philosophy-list-item {
	transition: opacity 300ms ease-in-out, filter 300ms ease-in-out;
}
.approach__philosophy-list:has(.approach__philosophy-list-item:hover)
	.approach__philosophy-list-item:not(:hover) {
	opacity: 0.5;
	filter: blur(2px);
}
.philosophy__media-wrap {
	will-change: transform;
}
/* .chars {
	display: inline-block;
	margin-right: 0.4em;
	will-change: transform;
} */

::-moz-selection {
	background-color: #fd9620;
	color: #ffffff;
}

::selection {
	background-color: #fd9620;
	color: #ffffff;
}

.load__grid{
	display: grid;
}
.loader {
	display: flex;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
box-shadow: none;
}

.w-input:focus, .w-select:focus {
border-color: #cccccc;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #000000 !important;
}
label.error {
position: absolute;
color: red;
font-size: 14px;
font-weight: 400;
margin-top: 6px;
}
/* Style for the error state of input */
.w-input.error {
border-color: red;
border-radius: 0px;
}