.slider-media::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
}

.slider-indices p {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: #fff;
}
.index {
	position: relative;
	width: 1.25rem;
	display: flex;
	justify-content: flex-end;
	will-change: opacity;
}
.marker {
	position: relative;
	width: 0.75rem;
	height: 1px;
	background-color: #fff;
	transform-origin: right;
	will-change: transform;
	transform: scaleX(0);
}
.slider-progress {
	will-change: transform;
}
.line {
	position: relative;
	display: block;
	will-change: transform;
}
.approach__item-media {
	will-change: transform;
}
.approach__philosophy-list-item {
	transition: opacity 300ms ease-in-out, filter 300ms ease-in-out;
}
.approach__philosophy-list:has(.approach__philosophy-list-item:hover)
	.approach__philosophy-list-item:not(:hover) {
	opacity: 0.5;
	filter: blur(2px);
}
.philosophy__media-wrap {
	will-change: transform;
}
/* .chars {
	display: inline-block;
	margin-right: 0.4em;
	will-change: transform;
} */

::-moz-selection {
  background-color: #fd9620; 
  color: #ffffff; 
}


::selection {
  background-color: #fd9620; 
  color: #ffffff; 
}